h1{font-family: 'Chakra Petch', sans-serif;
  font-size: 80px;}
body {font-family: 'Kanit', sans-serif;
  font-size: 25px;}
.bg {
background-color: #ffddca;}
.bgg {
background-color: #DEF5FF;}
.left {
margin-left : 150px ;
}
.container-bg {
margin-left : 100px ;
}